<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <h1>This First Heading Will Catch Your Eye</h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.Fusce dapibus, tellus ac cursus
                commodo 
            </p>
        </div>
        <div class="col-sm-5">
            <!-- <img src="https://browser-bronze-hyena-zkbsk8cn.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg" alt="..." class="rounded-circle width=5px height=5px"/> -->
            <img src="https://browser-copper-hedgehog-aq6aznte.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg" class="rounded-circle" alt="imagen 1" width="250" height="250"> 
          
        </div>
    </div>
</div>